@import url('https://fonts.googleapis.com/css2?family=Inter&family=Itim&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ece2d6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.calculator-body {
  background-color: #3a3a3a;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-top: 80px;
}

.temp-text {
  color: rgb(87, 87, 87);
  font-size: 17px;
  margin-bottom: 10px;
  padding: 7px;
}
.calculate-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 10px 30px;
  width: 95%;
  min-height: 110px;
  background-color: #d9d9d9;
  border-radius: 3px;

  word-wrap: break-word;
  word-break: break-all;
}

.display-text {
  display: flex;
  flex-direction: row-reverse;
  font-size: 27px;
  color: #868686;
  inline-size: 320px;
}

.display-text.active {
  color: rgb(46, 46, 46);
}

.calculator-bts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 80px);
  width: 350px;
}

button {
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
}

button:hover {
  background-color: #2e2e2e;
}

button:nth-child(16) {
  grid-row-start: span 2;
  background-color: #f09528;
  border-radius: 7px;
}

button:nth-child(16):hover {
  background-color: #ed8507;
}

button:nth-child(17) {
  grid-column: 1 / 3;
}

.body-title {
  font-family: 'Itim', cursive;
  color: #787878;
  margin: 0;
  transform: rotate(90deg);
  margin-left: -45px;
  margin-bottom: 65px;
}

.footer-container {
  display: flex;
  justify-content: center;
  color: #585858;
}

footer {
  font-size: 17px;
  position: absolute;
  bottom: 0;
  height: 30px;
}

footer i {
  transition: all 300ms ease-in;
  color: #585858;
}

footer i:hover {
  color: #f09528;
  transform: translateY(-5px);
}
